/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.custom-button-img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #71b7e6, #9b59b6);
    background-size: cover;
    color: #000000;
    animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #005fa3;
    transform: scale(1.05);
}

.card {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.reply {
    background: rgba(245, 245, 245, 0.9);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.reply:hover {
    background-color: rgba(200, 200, 200, 0.9);
}

.like-emoji {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.like-emoji:hover {
    transform: scale(1.3);
}

.avatar {
    border-radius: 50%;
}