body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #71b7e6, #9b59b6);
    color: #000000;
    animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.form-label {
    font-weight: bold;
}

.btn {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #005fa3;
    transform: scale(1.05);
}

.input-group-append {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password {
    cursor: pointer;
    color: black;
}

.form-control:focus {
    border-color: #71b7e6;
    box-shadow: 0 0 5px rgba(113, 183, 230, 0.8);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.form-group {
    position: relative;
}

.form-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}