body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #71b7e6, #9b59b6);
    color: #000000;
    animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-height {
    height: 100vh;
}

.img-full-height {
    max-height: 100%;
    width: auto;
}

.img-full-width {
    max-width: 100%;
    height: 100vh;
}

.or-separator {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #333;
}

.container h2 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.container .form-group {
    margin-bottom: 10px;
}

.container input,
.container button {
    padding: 5px 5px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #005fa3;
    transform: scale(1.05);
}

.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000;
    border-radius: 50%;
}

.toggle-password {
    color: black;
    /* Change icon color to black */
    margin-top: 0px;


    cursor: pointer;
}

.form-control:focus {
    border-color: #71b7e6;
    box-shadow: 0 0 5px rgba(113, 183, 230, 0.8);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.alert.fail {
    color: white;
    background-color: purple;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.alert.fail .icon {
    margin-right: 10px;
    /* content: url('path_to_your_icon');  */
    /* Update with actual path */
}
