<!-- Create Requests   创建帖子的html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Requests</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- url_for 函数createRequest  main -->
<body>
    <div class="container mt-5">
        <h2>Create Request</h2>
        <form action="{{ url_for('createRequest') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control", required=True) }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control", rows=3, required=True) }}
            </div>
            <button type="submit" class="btn btn-primary">Submit Request</button>
            <a href="{{ url_for('main') }}" class="btn btn-primary">Back to Main Page</a>
        </form>

        <!-- <form action="/submit_request" method="POST"> -->
        <!-- <form action="{{ url_for('createRequest') }}" method="POST">
        
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit Request</button>
            <a href="{{ url_for('main') }}" class="btn btn-primary">Back to Main Page</a>

        </form> -->
    </div>
</body>
</html>
