<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .avatar {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

        .container {
            margin-top: 20px;
        }

        .form-section {
            margin-top: 40px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .alert-custom {
            background-color: #d4edda;
            /* light green background */
            border-color: #c3e6cb;
            /* green border */
            color: #155724;
            /* dark green text */
        }

        .weather-container {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
        }

        .weather-container p {
            margin: 5px 0;
            font-size: 16px;
            color: #333;
        }
    </style>
</head>

<body>
    <!-- Displaying flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-custom alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% if category == 'success' and 'Redirecting' in message %}
    <script>
        console.log("Redirect script triggered");
        setTimeout(function () {
            console.log("Attempting to redirect to student page");
            window.location.href = "{{ url_for('student') }}";
        }, 5000);  // 10000 milliseconds = 10 seconds
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        <header class="text-center mb-4">
            <h1>Profile Settings</h1>
            <img src="{{ avatar }}" alt="User Avatar" class="avatar mb-3">
            <h2>{{ user.name }}</h2>
            <p>Want a new profile picture? <a href="#" data-toggle="modal" data-target="#gravatarModal">Update on
                    Gravatar</a></p>
            <!-- Modal -->
            <div class="modal fade" id="gravatarModal" tabindex="-1" aria-labelledby="gravatarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gravatarModalLabel">Update Your Avatar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            To update your avatar, please visit <a href="https://en.gravatar.com/emails/"
                                target="_blank">Gravatar</a>. Gravatar is a globally recognized avatar linked to your
                            email address.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </header>



        <main>
            <section class="form-section">
                <h2>Your Details</h2>
                <p><strong>Name:</strong> {{ user.name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>

            </section>
            <section class="form-section">
                <h2>Current Weather</h2>
                <div id="weather-container" class="weather-container">
                    <p id="weather-loading">Loading weather data...</p>
                    <div id="weather-details" style="display: none;">
                        <p id="weather-city"></p>
                        <p id="weather-temperature"></p>
                        <p id="weather-description"></p>
                        <img id="weather-icon" src="" alt="Weather Icon" />

                    </div>
                </div>
            </section>

            <!-- User Rank and Score Section -->

            <section class="form-section">
                <h2>Your Ranking</h2>
                <p><strong>Rank:</strong> {{ user_rank }}</p>
                {% if user_rank == 1 %}
                <img src="/static/img/gold.png" alt="Gold Medal" style="width: 60px; height: auto;" />
                <p><strong>Score:</strong> {{ user_score }}</p>

                <p>Congratulations! You're in first place!</p>
                {% elif user_rank == 2 %}
                <img src="/static/img/sliver.png" alt="Silver Medal " style="width: 60px; height: auto;" />
                <p><strong>Score:</strong> {{ user_score }}</p>

                <p>Great job! You're in second place!</p>
                {% elif user_rank == 3 %}
                <img src="/static/img/bronze.png" alt="Bronze Medal" style="width: 60px; height: auto;" />
                <p><strong>Score:</strong> {{ user_score }}</p>

                <p>Well done! You're in third place!</p>
                {% else %}
                <p><strong>Score:</strong> {{ user_score }}</p>

                <p>Keep up the great work to climb into the top three!</p>
                {% endif %}
            </section>



            <section class="form-section">
                <h2>Your Requests</h2>
                <ul>
                    {% for request in requests %}
                    <li><a href="{{ url_for('specific_request', request_id=request.id) }}">{{ request.title }}</a></li>
                    {% else %}
                    <li>No requests found.</li>
                    {% endfor %}
                </ul>
            </section>

            <section class="form-section">
                <h2>Edit Your Details</h2>
                <form action="{{ url_for('update_name') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Name</button>
                </form>
                <form action="{{ url_for('update_email') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Email</button>
                </form>
                <form action="{{ url_for('update_password') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label for="password">New Password:</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter new password">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
            </section>
            <form action="{{ url_for('logout') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const url = `https://pro.openweathermap.org/data/2.5/weather?q=Perth,AU&APPID=c69678ccfe3302b8b573ab28abd1f058&units=metric`;

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const iconCode = data.weather[0].icon;

                    const iconUrl = `https://openweathermap.org/img/wn/${iconCode}@2x.png`;
                    document.getElementById('weather-icon').src = iconUrl; // Set the source for the weather icon image
                    const city = data.name;  // Getting the city name from the data
                    const country = data.sys.country;  // Optional: getting the country code
                    const temp = data.main.temp;
                    const weatherDescription = data.weather[0].description;
                    const weatherContainer = document.getElementById('weather-container');
                    // Update the innerHTML to include the city name and country
                    weatherContainer.innerHTML = `<p>Location: ${city}</p>
                                      <p>Temperature: ${temp}°C</p>
                                      <p>Description: ${weatherDescription}</p>
                                      <img src="${iconUrl}" alt="Weather Icon" />`;
                })
                .catch(error => {
                    console.error('Error fetching weather:', error);
                    document.getElementById('weather-container').innerHTML = '<p>Error loading weather data.</p>';
                });
        });
    </script>





</body>

</html>