<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Guidelines</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lilita+One&family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">
    <!-- Custom style sheet & scripts -->
    <link href="/static/css/guide.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto Slab', serif;
        }

        header h1 {
            font-family: 'Pacifico', cursive;
        }

        .rule-book h2,
        .welcome-community h2,
        .build-better h2 {
            font-family: 'Lilita One', cursive;
        }

        ul li,
        .welcome-community p,
        .build-better p {
            font-family: 'Radio Canada Big', sans-serif;
            font-size: 22px;
        }
    </style>
</head>

<body>
<!-- Header -->   
    <header>
        <h1>Swan-Forum Guidelines</h1>
    </header>
<!-- Rule book -->
    <section class="rule-book">
        <h2>The Rule Book</h2>
        <ul>
            <li><i class="fas fa-heart"></i><strong>Be kind and respectful</strong> - We encourage members to interact
                with kindness, empathy, and respectful language.</li>
            <li><i class="fas fa-ban"></i><strong>No SPAM, please</strong> - No one likes SPAM, so please avoid sharing
                links repeatedly or you may be restricted.</li>
            <li><i class="fas fa-share"></i><strong>Sharing is caring</strong> - Found something interesting? Share it
                with the community. Remember sharing is caring.</li>
        </ul>
    </section>
<!-- Introduction of the community -->
    <section class="welcome-community">
        <h2>Welcome to Our Community</h2>
        <ul>
            <li>Welcome to Swan Forum, a dedicated space for users to share, discuss, and support each other.</li>
            <li>Whether on phone or tablet, our responsive interface ensures a seamless experience.</li>
            <li>You can create and find resources, connect with peers, seek advice, and contribute to a vibrant and
                supportive student community.</li>
            <li>Securely log in to Swan Forum using your credentials, the robust authentication systems guarantee a safe
                and exclusive online community.</li>
            <li>Find the information you're interested in with our advanced find request capabilities.</li>
            <li>Create your posts into diverse categories like Academics, Campus Life, Events, or Classifieds.</li>
            <li>Customize your Personal Profile to show your interests.</li>
            <li>Interact with our AI Chat on the S-Forum Dashboard!</li>
        </ul>
    </section>
    
    <section class="build-better">
        <h2>Together, We Build Better</h2>
        <p style="font-family: 'Jarbo'" > As a member of this community, your insights, experiences, and contributions shape our collective journey.
            Let's engage, innovate, and elevate our community with every post.</p>
    </section>
    <a href="main" class="back-button">Back to Main</a>
</body>

</html>