<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Main</title>
</head>

<body>

    <div class="navbar">
        <img src="/static/img/weilai2.png" alt="Logo" class="navbar-logo">
        <h1>S-forum</h1>
    </div>

    <div class="container">
        <div id="sidebar">
            <div class="button-container">
                <img src="{{ url_for('static', filename='img/fa.png') }}" alt="Logo" class="button-logo">
                <a href="{{ url_for('createRequest') }}" class="button">Create Request</a>
            </div>
            <div class="button-container">
                <img src="{{ url_for('static', filename='img/hui.png') }}" alt="Logo" class="button-logo">
                <a href="{{ url_for('findRequest') }}" class="button">Find Request</a>
            </div>
            <div class="button-container">
                <img src="{{ url_for('static', filename='img/ranking.png') }}" alt="Logo" class="button-logo">
                <a href="{{ url_for('ranking') }}" class="button">Ranking</a>
            </div>
            <div class="button-container">
                <img src="{{ url_for('static', filename='img/dashboard.png') }}" alt="Logo" class="button-logo">
                <a href="{{ url_for('dashboard') }}" class="button">Dashboard</a>
            </div>
        </div>
        <div class="guidelines-container">
            <a href="{{ url_for('guidelines') }}" class="guidelines-link">
                <img src="/static/img/guides.png" alt="Logo" class="button-logo guidelines-logo">
            </a>
        </div>

        <div id="main-content">
            <div class="left-side">
                <img src="/static/img/logot.png" alt="Forum Logo" class="forum-logo">
                <hTitle>Welcome to Swan-forum</hTitle>
                <p class="forum-description">People are free to express their opinions here on the forum, but please
                    refrain from discussing sensitive topics such as politics, violence, or pornography.</p>
            </div>

            <div class="right-side">
                <div class="function">
                    <h3>Function 1 of APP</h3>
                    <h2>Create the Request</h2>
                    <p>You could start a topic for peopel to discuss or ask for help</p>
                </div>
                <div class="function">
                    <h3>Function 2 of APP</h3>
                    <h2>Find the Request</h2>
                    <p>People could show their view and give answers to each question</p>
                </div>
            </div>
        </div>

    </div>


</body>

</html>