<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Notification</title>
</head>
<body>
    <h1>Password Change Notification</h1>
    <form action="/change_password" method="post">
        <label for="new_password">Enter New Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br>
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="submit" value="Submit">
    </form>

</body>
</html> -->
