<!-- in this page    reset_password.html   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Notification</title>
    <!-- intro        Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- reset_password    url_for -->
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Password Change</h1>


        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ url_for('reset_password', token=token) }}" method="post" class="needs-validation" novalidate>
                    {{ form.hidden_tag() }}  <!-- contain CSRF  -->
                    <div class="form-group">
                        {{ form.new_password.label(class="form-label") }}
                        {{ form.new_password(class="form-control", id="new_password", required=True) }}
                        {% if form.new_password.errors %}
                        <div class="invalid-feedback">
                            {{ form.new_password.errors[0] }}
                        </div>
                        {% endif %}
                    </div>
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </form>
            </div>
        </div>
        
    
    </div>

    <!-- Optional JavaScript and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
