<!-- this is for the start to test the basic home page    Note this is just the start test page   -->
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Title</title>
 </head>
    <body>
       <table border = 1>
          <thead>
             <td>name</td>
             <td>addr</td>
             <td>city</td>
             <td>pin</td>
          </thead>
          {% for row in rows %}
             <tr>
                <td>{{row["name"]}}</td>
                <td>{{row["addr"]}}</td>
                <td>{{row["city"]}}</td>
                <td>{{row['pin']}}</td>
             </tr>
          {% endfor %}
       </table>
    </body>
 </html>