<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FirstPage</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/student.css">

</head>

<body>
    <div class="container-fluid full-height">

        <div class="row full-height">
            <!-- image carousel section -->
            <div class="col-md-8">
                <div id="carouselExample" class="carousel slide full-height" data-ride="carousel">
                    <div class="carousel-inner full-height">
                        <div class="carousel-item active full-height">
                            <img src="/static/img/s1.jpg" class="d-block w-100 img-full-height" alt="s1">
                        </div>
                        <div class="carousel-item full-height">
                            <img src="/static/img/s2.jpg" class="d-block w-100 img-full-height" alt="s2">
                        </div>
                        <div class="carousel-item full-height">
                            <img src="/static/img/s3.jpg" class="d-block w-100 img-full-height" alt="s3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- right page -->
            <div class="col-md-4">
                <div class="container">
                    <!-- Display the flash messages here -->
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <h2 class="mb-4">Register</h2>
                    <form action="{{ url_for('access') }}" method="POST" class="needs-validation" novalidate>
                        {{ register_form.hidden_tag() }}
                        <div class="form-group">
                            <label for="username">Username</label>
                            {{ register_form.username(class="form-control", id="username", required=True) }}
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                {{ register_form.password(class="form-control", id="password", required=True) }}
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary toggle-register-password" type="button"><i class="fa fa-eye"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ register_form.email(class="form-control", id="email") }}
                        </div>
                        <button type="submit" name="register" class="btn btn-primary">Register</button>
                    </form>

                    <h2 class="mb-4 mt-5">Login</h2>
                    <form action="{{ url_for('access') }}" method="POST" class="needs-validation" novalidate>
                        {{ login_form.hidden_tag() }}
                        <div class="form-group">
                            <label for="username">Username</label>
                            {{ login_form.username(class="form-control", id="username1", required=True) }}
                        </div>
                        <div class="form-group">
                            <label for="passwordLogin">Password</label>
                            <div class="input-group">
                                {{ login_form.password(class="form-control", id="passwordLogin", required=True) }}
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary toggle-password toggle-login-password"
                                        type="button"><i class="fa fa-eye"></i></button>
                                </div>
                            </div>
                        </div>
                        <button type="submit" name="login" class="btn btn-primary">Login</button>
                        <a href="{{ url_for('forgot_password') }}" class="btn btn-primary">Forget my password</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toggleLoginPassword = document.querySelector(".toggle-login-password");
            toggleLoginPassword.addEventListener('click', function () {
                var loginPasswordInput = document.getElementById('passwordLogin');
                if (loginPasswordInput.type === 'password') {
                    loginPasswordInput.type = 'text';
                    toggleLoginPassword.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"></i>';
                } else {
                    loginPasswordInput.type = 'password';
                    toggleLoginPassword.innerHTML = '<i class="fa fa-eye" aria-hidden="true"></i>';
                }
            });

            var toggleRegisterPassword = document.querySelector(".toggle-register-password");
            toggleRegisterPassword.addEventListener('click', function () {
                var registerPasswordInput = document.getElementById('password');
                if (registerPasswordInput.type === 'password') {
                    registerPasswordInput.type = 'text';
                    toggleRegisterPassword.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"></i>';
                } else {
                    registerPasswordInput.type = 'password';
                    toggleRegisterPassword.innerHTML = '<i class="fa fa-eye" aria-hidden="true"></i>';
                }
            });
        });
    </script>

    <!-- intro Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>